* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.logo {
  order: 1;
  font-size: 2rem;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-left: 50px;
  margin-right: 50px;
}

nav ul {
  display: flex;
  order: 2;
}

nav ul a {
  color: #000000;
  font-size: 1.6rem;
  margin-left: 2rem;
}

.container {
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

/* .container img {
  width: 100%;
  height: 500px;
} */
/* .fader { display: inline-block; }
.fader > img {
    position: absolute;
    width: 34%;
    height: 391px;
    top: 112px; 
    right: 0;
    display: none;
} */

.fader {
  display: inline-block;
  position: relative;
  width: 100%;
  top: -268px;
  left: 60px;
}

.fader > img {
    position: absolute;
    width: 100%;
    height: 458px;
    display: none;
}

.hero-text {
  width: 117%;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #8b4513;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

button {
  padding: 1em 2.1em 1.1em;
  border-radius: 4px;
  margin: 8px;
  border: none;
  background-color: #e2e273;
  color: #000000;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0em -0.2rem 0em #e2e273 inset;
  transition: color 3s ease-in-out;
}

button:hover {
  background-color: transparent;
  color: #8b4513;
  border: 3px solid #e2e273;
  cursor: pointer;
}



@media (max-width: 884px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    margin-top: 409px;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 678px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}
@media (max-width: 428px) {
  nav ul {
    display: none;
  }
}

@media screen and (max-width: 884px) {
  .fader {
    display: inline-block;
    position: relative;
    width: 156%;
    top: -17px;
    left: 0px;
  }
  .fader>img{
    width: 100%;
    height: 401px;
    position: absolute;
  }
  @media screen and (max-width: 559px) {
    .fader>img{
      height: 371px;
    }
    .fader{
      width: 128%;
    }
    
  }
  @media (min-width: 559px) and (max-width: 884px) {
    .fader {
      width: 100%;
      top: -17px;
      left: 0px;
    }
  }
}